.page {
  font-family: "Inter", sans-serif;
  width: 100%;
  color: white
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}

body {  
  background: repeating-linear-gradient(
  45deg,
  #1c1c1d,
  #020519 5%,
  #282727 5%,
  #030000 10%
);
  background-size: 100px 100px;
  animation: move-it 2s linear infinite;
}

/* header */
.header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px solid rgb(255, 255, 255);
  color: white;
}

.bg {
  display: flex;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, #35cd8f 0%, #273ad3 25%, #2dc7c7 51%, #4f474a 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header__title {
  font-size: clamp(1rem, 0.1417rem + 3.662vw, 3.4375rem);
  text-transform: uppercase;
}

.text__deviz {
  font-size: clamp(0.5rem, 0.0158rem + 2.0657vw, 1.875rem);
}

.about__logo {
  width: 300px;
}

@media (width <= 475px) {
  .header {
    padding: 10px;
  }
}

@media (width <= 945px) {
  .about__logo {
    width: 250px;
  }
}

@media (width <= 645px) {
  .about__logo {
    width: 200px;
  }
}

.section__menu {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 10px 0px 10px;
  background-color: black;
}

.header__menu-list {
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  font-size: clamp(0.625rem, 0.1757rem + 1.9169vw, 2.5rem);
  cursor: pointer;
  font-weight: 600;
  color:white;
}

.menu-item:hover {
  color: #ffffff; /* Fallback for older browsers */
  color: rgba(255, 255, 255, 0.5);
}

/* news.html */
.section2, .section3, .section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px;
  gap: 40px;
  border-bottom: 2px solid black;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 30px;
}

.section-title__2 {
  display: flex;
  font-weight: 600;
  justify-content: center;
  width: 100%;
  font-size: clamp(0.9375rem, 0.4133rem + 2.2364vw, 3.125rem);
}

.news-item__content {
  padding-top: 30px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.news_image {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.news_img {
  display: flex;
  justify-content: center;
}

.text_img {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.text__2  {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1850px;
  font-size: clamp(1.25rem, 0.9524rem + 1.2698vw, 2.5rem);
}

@media (width <= 900px) {
  .section2, .section3, .section4 {
    padding: 30px;
  }
}

@media (width <= 600px) {
  .section2, .section3, .section4 {
    padding: 20px;
  }
}



/* footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 3rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}